@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");

@import "swiper/swiper-bundle.css";

.pacifico {
  font-family: "Pacifico", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.bitcount {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

@layer base {
  * {
    @apply border-zinc-200 dark:border-zinc-800;
  }

  body {
    @apply bg-white dark:bg-black text-black dark:text-white;
  }
}

/* css variables */
:root {
  --color-bg: #e9ebed;
  --color-text: #0c0d12;
  --color-gray: #90a1b9;
  --color-text-hover: #2563eb;

  --color-active-border: rgba(15, 23, 42, 0.2);
  --color-active-bg: rgba(15, 23, 42, 0.1);
  --color-active-text: #0f172a;

  /* admin code */
  --admin-bg: #ffffff;
  --admin-card-bg: #f8fafc;
  --admin-text: #0c0d12;
  --admin-text-muted: #64748b;
  --admin-border: rgba(0, 0, 0, 0.06);
}

.dark {
  --color-bg: #0c0d12;
  --color-text: #e9ebed;
  --color-gray: #90a1b9;
  --color-text-hover: #3b82f6;

  --color-active-border: rgba(248, 249, 250, 0.2);
  --color-active-bg: rgba(248, 249, 250, 0.1);
  --color-active-text: #ffffff;

  /* admin colors */
  --admin-bg: #1c293d;
  --admin-card-bg: #0f1828;
  --admin-text: #e9ebed;
  --admin-text-muted: #94a3b8;
  --admin-border: rgba(255, 255, 255, 0.08);
}
